.dropdown-basic-button{
    display: flex;
    flex-direction: row;
    margin-left: 100px;
}

.dropdown {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: min-content;
    padding-right: 100px;
}