.App > * {
padding-right: 10vw;
padding-left: 10vw;
}

.logo-button{
  display:flex;
  flex-direction: column;
  justify-content:center;
  padding: 15px;
  border-radius: 10px; 
  }  

 .contained-buttons{
 color: white;
 background-color: white;
 } 



